body {
  padding: 5em 0 1em;
  position:relative;
}
a[name] {
  position:relative;
  top:-5em;
}
.chart + .chart {
  margin-top:2em;
}
.likes {
  margin: 2em 0;
  float:left;
}
.likes .like {
  float:left;
}
.likes .like + .like {
  margin-left: 1em;
}
.budget-iframe-container {
  overflow:hidden;
}
.budget-iframe-container iframe {
  margin-top:-7em;
}
